@import "../../components/styles/base";

.landing-container{
    background: #304352;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;z
    align-items: center;
    gap:3ch;
    text-align: center;
    h2{
        background: #F6F8F9;
        background: -webkit-radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #D7DEE3 24%, #F5F7F9 100%);
        background: -moz-radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #D7DEE3 24%, #F5F7F9 100%);
        background: radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #D7DEE3 24%, #F5F7F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
            margin-top: 5%;
            font-size:4rem;
            width:45%;
            font-weight: 700;
    }
    h3{
        background: #F6F8F9;
        background: -webkit-radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #D7DEE3 24%, #F5F7F9 100%);
        background: -moz-radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #D7DEE3 24%, #F5F7F9 100%);
        background: radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #D7DEE3 24%, #F5F7F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .intro-text{
       background: #F6F8F9;
        background: -webkit-radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #D7DEE3 24%, #F5F7F9 100%);
        background: -moz-radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #D7DEE3 24%, #F5F7F9 100%);
        background: radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #D7DEE3 24%, #F5F7F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
        text-align: center;
        line-height: 150%;
        width:50%;
    }
    section{
    display: flex;
        gap:5ch;
    }
}

 